<%- include('./partials/header') %>
<body>
<header>
    <h2>Welcome Back <%=firstName%></h2>
</header>

<!-- are forms the best way to do this ?? -->
<div class="card-deck">
    <% entries.forEach((entry) => { %>
        <a href="/users/me/<%= entry._id %>">
            <div class="card border-0 mt-4">
                <div class="card-header border-0">
                    <h3>Day 12</h3>
                </div>
                <div class="card-body border-0 pt-1">
                    <div class="card-title"><%= entry.title %> </div>
                    <p class="card-text"><%=entry.content.slice(0,150)%>
                    <% if(entry.content.length > 150) {%>
                    ...</p>
                    <%}%>     
                </div>
                <div class="em-overlay">
                    <% if(entry.emotion == em_obj.HAPPY) {%> <p> happyyyyy :) </p> 
                    <%} else {%> <p> <%=entry.emotion %></p> <%}%>
                </div>
            </div>
        </a>
    <% }) %>
</div>

<div id="new">
<form method="post" action="/users/me/new">
    <button type="submit" name="new_button" id="new_button"></button>
</form>
</div>
<div class="container-fluid">

</div>
</body>
<%- include('./partials/footer') %>
