<%- include('./partials/header') %>
<script type="text/javascript" src="/scripts/user-home.js"></script>

<!-- are forms the best way to do this ?? -->
<div class="card-deck">
  <% entries.forEach((entry) => { %>
  <div class="card-outline">
    <a href="/users/me/<%= entry._id %>">
      <div class="card border-0 mt-4">
        <div class="card-header border-0">
          <h3><%= entry.date.toLocaleDateString("en-US", { weekday: 'long', month: 'short', day: 'numeric' }) %></h3>
          <div class="em-overlay <%= entry.emotion %>"></div>
        </div>
        <div class="card-body border-0 pt-1">
          <div class="card-title">
            <p><%= entry.title %></p>
          </div>
          <p class="card-text"><%=entry.content %></p>   
        </div>
      </div>
    </a>
    <div class="entry-options">
      <button class="delete-button" id="<%= entry._id %>"> </button>
    </div>
  </div>
  <% }) %>
</div>

<div id="new">
<form method="post" action="/users/me/new">
    <button type="submit" name="new_button" id="new_button"></button>
</form>
</div>
<div class="container-fluid">

</div>
</body>
<%- include('./partials/footer') %>
